<ion-card>
  <ion-card-header>
    <ion-card-title> {{tarea.nombre}} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Fecha: {{tarea.mes}} / {{tarea.anio}}
  </ion-card-content>
  <ion-label style="padding-left: 0.5rem;">Descripción</ion-label>
  <ion-text>
    <p style="padding-left: 0.5rem;">{{tarea.descripcion}}</p>
  </ion-text>
  <img src="https://hips.hearstapps.com/hmg-prod/images/cute-cat-photos-1593441022.jpg?crop=0.670xw:1.00xh;0.167xw,0&resize=640:*" alt="A cat">

<!-- mostrar detalles y modificar ts para recibir la tarea -->
