<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="mostrarTarjetas">
      Mi App de Tareas
    </ion-title>
    <ion-title *ngIf="!mostrarTarjetas">
      Agregar Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-tareas *ngIf="mostrarTarjetas"></app-tareas>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="newForm()" *ngIf="mostrarBoton">
    <ion-fab-button color="dark" click="newForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-agregar-tarea *ngIf="mostrarFormulario" (mostrarForm)="recibirMostrarForm($event)" ></app-agregar-tarea>
</ion-content>
