<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="hazmeClic()">Hazme click!</ion-button>
    <img [src]="imgUrl" alt="perrito programador" style="margin-left: 2rem;">
  </div>

  <app-nuevo-componente></app-nuevo-componente>
</ion-content>
