<ion-card *ngFor="let tarea of tareas">
  <ion-card-header>
    <ion-card-title> {{tarea.nombre}} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Fecha: {{tarea.mes}} / {{tarea.anio}}
  </ion-card-content>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Descripción</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">{{tarea.descripcion}} </div>
    </ion-accordion>
  <ion-button *ngIf="tarea.mostrarDescripcion" expand="full" color="dark" (click)="tarea.mostrarDescripcion = false">Mostrar menos...</ion-button>
